In [2]:
import pandas as pd

In [3]:
movies = pd.read_csv("test5.csv")

In [4]:
movies

                   actor                            movie_or_TV_name
0           Ryan Gosling                           Project Hail Mary
1           Ryan Gosling                                   The Actor
2           Ryan Gosling                                     Wolfman
3           Ryan Gosling                                      Barbie
4           Ryan Gosling                                The Gray Man
...                  ...                                         ...
1918  Edward James Olmos                                       LA 92
1919  Edward James Olmos    Hispanic Youth Showcase 25th Anniversary
1920  Edward James Olmos  Blade Runner: Deleted and Alternate Scenes
1921  Edward James Olmos                                    Página 2
1922  Edward James Olmos      Battlestar Galactica: The Story So Far

[1923 rows x 2 columns]

In [ ]:
movies.sort